.contentCart{
	position: relative;
	margin: 100px auto;
}
.button-hover{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	text-align: center;
}
.btn-buy{
	position: absolute;
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	text-align: center;
}
.question {
	position: fixed;
	overflow:hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin-bottom: auto;
	background: rgba(0,0,0,0.75);
	transition: .3s ease-in-out;
	visibility: hidden;
	overflow: auto;
	z-index: 1000;
	opacity: 0;
}
.fa-close{
	color: black;
	font-weight: 100;
	font-size: 30px;
	cursor: pointer;
}
.contentBuy{
	width: 50%;
	height: 100%;
	padding: 40px;
	background: #fff;
	transition: .3s ease-in-out;
}
.send{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}